# Connect Data base in Python & Writing sql commands in Python

In [ ]:
# importing the module

### To View list of tables in the existing database

In [ ]:
# connect withe the myTable database


# cursor object
# A cursor is an object which helps to execute the query and fetch the records from the database

# execute the command to view all tables in the data base


#Sqlite_master table is created for each database automatically.
#It describes the schema of each table with some additional informations


# fetches all the rows of a query result. It returns all the rows as a list of tuples

In [ ]:
# # execute the command to fetch all the data from the table albums

  
# store all the fetched data in the ans variable

In [ ]:

# execute the command to fetch all the data from the table employees

  
# store all the fetched data in the ans variable

  
# Since we have already selected all the data entries
# using the "SELECT *" SQL command and stored them in
# the ans variable, all we need to do now is to print
# out the ans variable

### Create Database (test_database)

In [ ]:
## import sqlite3

connection = sqlite3.connect('D://Files//test_database1') 
c = connection.cursor()

c.execute('''
          CREATE TABLE IF NOT EXISTS products1
          ([product_id] INTEGER PRIMARY KEY, [product_name] TEXT)
          ''')
          
c.execute('''
          CREATE TABLE IF NOT EXISTS prices1
          ([product_id] INTEGER PRIMARY KEY, [price] INTEGER)
          ''')
                     
connection.commit()

### Insert values into the tables

In [ ]:
c.execute('''
          INSERT INTO products1 (product_id, product_name)

                VALUES
                (1,'Computer'),
                (2,'Printer'),
                (3,'Tablet'),
                (4,'Desk'),
                (5,'Chair')
          ''')

c.execute('''
          INSERT INTO prices1 (product_id, price)

                VALUES
                (1,1800),
                (2,1200),
                (3,1300),
                (4,1450),
                (5,1150)
          ''')

connection.commit()

### Display the results
 join the ‘products‘ table with the ‘prices‘ table using the product_id column which is present in both tables.

In [ ]:
import pandas as pd
c.execute('''
          SELECT
          a.product_name,
          b.price
          FROM products1 a
          LEFT JOIN prices1 b ON a.product_id = b.product_id
          ''')

df = pd.DataFrame(c.fetchall(), columns=['product_name','price'])
print (df)

In [ ]:
# connect with the created database

# cursor object

# execute the command to view all tables in the test_database

In [ ]:
# delete a record from database

#print( "Total number of rows deleted :", crsr.total_changes)

#crsr.close()